interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://de.wiktionary.org/w/api.php?action=parse&page=Abend&prop=wikitext&format=json
  response:
    body:
      string: '{"parse":{"title":"Abend","pageid":5719,"wikitext":{"*":"{{Siehe auch|[[abend]]}}\n{{Wort
        der Woche|14|2006}}\n== Abend ({{Sprache|Deutsch}}) ==\n=== {{Wortart|Substantiv|Deutsch}},
        {{m}} ===\n\n{{Deutsch Substantiv \u00dcbersicht\n|Genus=m\n|Nominativ Singular=Abend\n|Nominativ
        Plural=Abende\n|Genitiv Singular=Abends\n|Genitiv Plural=Abende\n|Dativ Singular=Abend\n|Dativ
        Plural=Abenden\n|Akkusativ Singular=Abend\n|Akkusativ Plural=Abende\n|Bild=2006-07-26AbendhimmelRemstal19.jpg|mini|1|der
        Himmel am ''''A[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://translate.google.com/m?tl=es&sl=de&q=%5B1%5D+die+Tageszeit+nach+dem+Nachmittag%2C+die+beginnt%2C+wenn+die+Sonne+den+Horizont+erreicht%2C+und+bei+v%C3%B6lliger+Dunkelheit+endet%3B+dem+Abend+geht+der+Tag+voran+und+auf+den+Abend+folgt+die+Nacht%0A++++%5B2%5D++die+Himmelsrichtung+Westen%0A++++%5B3%5D++verschliffene+Begr%C3%BC%C3%9Fungsfloskel+%E2%80%9Eguten+Abend%E2%80%9C%0A++++%5B4%5D++Abschluss%2C+Ende%2C+Schluss+%28f%C3%BCr+Leben%2C+Epochen%2C+langandauernde+Herrschaften+und+%C3%84hnlichem%29%0A++++%5B5%5D++Abendveranstaltung%3B+Abend+mit+heiterem%2C+vielgestaltigem+Programm%3B+Abendempfang
  response:
    body:
      string: "<!DOCTYPE html><html dir=\"ltr\" lang=\"en-US\"><head><title>Google
        Translate</title><meta name=\"google\" content=\"notranslate\"><meta name=\"viewport\"
        content=\"width=device-width,initial-scale=1\"><link rel=\"icon\" href=\"//ssl.gstatic.com/translate/favicon.ico\"
        sizes=\"64x64\"><style nonce=\"Keu-QSD20gTtHSf9UI-AyQ\">\n    body {\n      font-family:
        'Arial', sans-serif;\n      margin: 0;\n    }\n    a:link,\n    a:visited,\n
        \   a:active {\n      color: #1a73e8; /* blue 600 */\n      text-decoration:
        none;\n    }\n    .header {\n      background-color: #fff;\n      border-bottom:
        1px solid #dadce0; /* grey 300 */\n      box-sizing: border-box;\n      color:
        #5f6368; /* grey 700 */\n      font-size: 18px;\n      line-height: 21px;\n
    [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://translate.google.com/m?tl=es&sl=de&q=%5B1%5D+%E2%80%9EEines+Abends%2C+als+sie+so+vertraulich+beisammensa%C3%9Fen%2C+klopfte+jemand+an+die+T%C3%BCre%2C+als+wollte+er+eingelassen+sein.%E2%80%9C
  response:
    body:
      string: "<!DOCTYPE html><html dir=\"ltr\" lang=\"en-US\"><head><title>Google
        Translate</title><meta name=\"google\" content=\"notranslate\"><meta name=\"viewport\"
        content=\"width=device-width[...]
- request:
    body: f.req=%5B%5B%5B%22jQ1olc%22%2C%22%5B%5C%22Abend%5C%22%2C%5C%22de%5C%22%2Cnull%2C%5C%22null%5C%22%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=utf-8
    method: POST
    uri: https://translate.google.com/_/TranslateWebserverUi/data/batchexecute
  response:
    body:
      string: ')]}''


        [["wrb.fr","jQ1olc","[\"//OExAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA//OExAAAAANIAU[...]
- request:
    body: '{"capabilities": {"firstMatch": [{}], "alwaysMatch": {"browserName": "firefox",
      "acceptInsecureCerts": true, "moz:debuggerAddress": true, "pageLoadStrategy":
      "normal", "moz:firefoxOptions": {"binary": "/nix/store/7fqyh13psrzcznra9ycxhxw89nxv99ky-firefox-126.0/bin/firefox",
      "args": ["--headless"]}}}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    method: POST
    uri: http://localhost:60139/session
  response:
    body:
      string: '{"value":{"sessionId":"9a66cc8f-454f-440a-93a1-61715205be8d","capabilities":{"acceptInsecureCerts":true,"browserName":"firefox","browserVersion":"126.0","moz:accessibilityChecks":false,"moz:buildID":"20240509170740","moz:debuggerAddress":"127.0.0.1:47591","moz:geckodriverVersion":"0.34.0","moz:headless":true,"moz:platformVersion":"6.9.2","moz:processID":280744,"moz:profile":"/tmp/rust_mozprofileok3cW4","moz:shutdownTimeout":60000,"moz:webdriverClick":true,"moz:windowless":false,"pageLoadStrategy":"normal","platformName":"linux","proxy":{},"setWindowRect":true,"strictFileInteractability":false,"timeouts":{"implicit":0,"pageLoad":300000,"script":30000},"unhandledPromptBehavior":"dismiss
        and notify","userAgent":"Mozilla/5.0 (X11; Linux x86_64; rv:126.0) Gecko/20100101
        Firefox/126.0"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"url": "https://ankiweb.net/account/login"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    method: POST
    uri: http://localhost:60139/session/9a66cc8f-454f-440a-93a1-61715205be8d/url
  response:
    body:
      string: '{"value":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"using": "xpath", "value": "//input[@autocomplete=\"username\"]"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    method: POST
    uri: http://localhost:60139/session/9a66cc8f-454f-440a-93a1-61715205be8d/element
  response:
    body:
      string: '{"value":{"error":"no such element","message":"Unable to locate element:
        //input[@autocomplete=\"username\"]","stacktrace":"RemoteError@chrome://remote/content/shared/RemoteError.sys.mjs:8:8\nWebDriverError@chrome://remote/content/shared/webdriver/Errors.sys.mjs:193:5\nNoSuchElementError@chrome://remote/content/shared/webdriver/Errors.sys.mjs:511:5\ndom.find/</<@chrome://remote/content/shared/DOM.sys.mjs:136:16\n"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: '{"using": "xpath", "value": "//input[@autocomplete=\"username\"]"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    method: POST
    uri: http://localhost:60139/session/9a66cc8f-454f-440a-93a1-61715205be8d/element
  response:
    body:
      string: '{"value":{"element-6066-11e4-a52e-4f735466cecf":"9b829f74-b1f2-4725-9f80-b5bc7a265dd6"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"script": "/* isDisplayed */return (function(){return (function(){var
      g=this||self;\nfunction aa(a){var b=typeof a;if(\"object\"==b)if(a){if(a instanceof
      Array)return\"array\";if(a instanceof Object)return b;var c=Object.prototype.toString.call(a);if(\"[object
      Window]\"==c)return\"object\";if(\"[object Array]\"==c||\"number\"==typeof a.length&&\"undefined\"!=typeof
      a.splice&&\"undefined\"!=typeof a.propertyIsEnumerable&&!a.propertyIsEnumerable(\"spl[...]
[...]
- request:
    body: '{"text": "naivy.luna@gmail.com", "value": ["n", "a", "i", "v", "y", ".",
      "l", "u", "n", "a", "@", "g", "m", "a", "i", "l", ".", "c", "o", "m"]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    method: POST
    uri: http://localhost:60139/session/9a66cc8f-454f-440a-93a1-61715205be8d/element/9b829f74-b1f2-4725-9f80-b5bc7a265dd6/value
  response:
    body:
      string: '{"value":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    method: POST
    uri: http://localhost:60139/session/9a66cc8f-454f-440a-93a1-61715205be8d/element/e57ea053-2107-411c-8e69-24c5f9a068f5/click
  response:
    body:
      string: '{"value":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"text": "Nominativ Plural: Abende\n    Genitiv Plural: Abende\n    Dativ
      Plural: Abenden\n    Akkusativ Plural: Abende", "value": ["N", "o", "m", "i",
      "n", "a", "t", "i", "v", " ", "P", "l", "u", "r", "a", "l", ":", " ", "A", "b",
      "e", "n", "d", "e", "\n", " ", " ", " ", " ", "G", "e", "n", "i", "t", "i",
      "v", " ", "P", "l", "u", "r", "a", "l", ":", " ", "A", "b", "e", "n", "d", "e",
      "\n", " ", " ", " ", " ", "D", "a", "t", "i", "v", " ", "P", "l", "u", "r",
      "a", "l", ":", " ", "A", "b", "e", "n", "d", "e", "n", "\n", " ", " ", " ",
      " ", "A", "k", "k", "u", "s", "a", "t", "i", "v", " ", "P", "l", "u", "r", "a",
      "l", ":", " ", "A", "b", "e", "n", "d", "e"]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    method: POST
    uri: http://localhost:60139/session/9a66cc8f-454f-440a-93a1-61715205be8d/element/862f36ec-b192-4871-86cc-8cb914a69fb5/value
  response:
    body:
      string: '{"value":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"text": "Genus: m\n    Nominativ Singular: Abend\n    Nominativ Plural:
      Abende\n    Genitiv Singular: Abends\n    Genitiv Plural: Abende\n    Dativ
      Singular: Abend\n    Dativ Plural: Abenden\n    Akkusativ Singular: Abend\n    Akkusativ
      Plural: Abende", "value": ["G", "e", "n", "u", "s", ":", " ", "m", "\n", " ",
      " ", " ", " ", "N", "o", "m", "i", "n", "a", "t", "i", "v", " ", "S", "i", "n",
      "g", "u", "l", "a", "r", ":", " ", "A", "b", "e", "n", "d", "\n", " ", " ",
      " ", " ", "N", "o", "m", "i", "n", "a", "t", "i", "v", " ", "P", "l", "u", "r",
      "a", "l", ":", " ", "A", "b", "e", "n", "d", "e", "\n", " ", " ", " ", " ",
[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    method: DELETE
    uri: http://localhost:60139/session/9a66cc8f-454f-440a-93a1-61715205be8d
  response:
    body:
      string: '{"value":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
