interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.duden.de/rechtschreibung/Abend
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"de\" dir=\"ltr\" prefix=\"og: https://ogp.me/ns#\">\n
        \ <head>\n    <meta charset=\"utf-8\" />\n<style>.async-hide { opacity: 0
        !important }</style>\n<script>(function(a,s,y,n,c,h,i,d,e){\n      s.className+='
        '+y;\n      h.start=1*new Date;\n      h.end=i=function(){\n          s.className=s.className.replace(RegExp('
        ?'+y),'')\n      };\n      (a[n]=a[n]||[]).hide=h;\n      setTimeout(function(){\n
        \         i();\n          h.end=null\n      },c);\n      h.timeout=c;\n  })(window,document.documentElement,'async-hide','dataLayer',1000,{
        'GTM-M8R4BXM':true });</script>\n<link rel=\"preconnect\" href=\"//sp.duden.de\"
        crossorigin=\"\" />\n<link rel=\"preconnect\" href=\"//cdn-a.yieldlove.com\"
        crossorigin=\"\" />\n<link rel=\"preconnect\" href=\"//googletagmanager.com\"
        crossorigin=\"\" />\n<link rel=\"preload\" href=\"//securepubads.g.doubleclick.net/tag/js/gpt.js\"
        as=\"script\" />\n<script type=\"text/javascript\">window.yieldlove_prevent_autostart
        = true; var biurl = window.location.href; if(biurl.indexOf('suchen/dudenonline[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://translate.google.com/m?tl=es&sl=de&q=Abend%0ATageszeit+um+die+D%C3%A4mmerung%2C+das+Dunkelwerden+vor+Beginn+der+Nacht%0A%5Bgeselliges%5D+Beisammensein+am+Abend%0AWesten%0AAbendstunde%0AAbendzeit%0ATagesende
  response:
    body:
      string: "<!DOCTYPE html><html dir=\"ltr\" lang=\"en-US\"><head><title>Google
        Translate</title><meta name=\"google\" content=\"notranslate\"><meta name=\"viewport\"
        content=\"width=device-width,initial-scale=1\"><link rel=\"icon\" href=\"//ssl.gstatic.com/translate/favicon.ico\"
        sizes=\"64x64\"><style nonce=\"tX4fnx1TKmAEW-BCgudewg\">\n    body {\n      font-family:
        'Arial', sans-serif;\n      margin: 0;\n    }\n    a:link,\n    a:visited,\n
        \   a:active {\n      color: #1a73e8; /* blue 600 */\n      text-decoration:
        [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://translate.google.com/m?tl=es&sl=de&q=ein+warmer%2C+k%C3%BChler%2C+klarer%2C+sommerlicher+Abend
  response:
    body:
      string: "<!DOCTYPE html><html dir=\"ltr\" lang=\"en-US\"><head><title>Google
        Translate</title><meta name=\"google\" content=\"notranslate\"><meta name=\"viewport\"
        content=\"width=device-width,initial-scale=1\"><link rel=\"icon\" href=\"//ssl.gstatic.com/translate/favicon.ico\"
        si[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://translate.google.com/m?tl=es&sl=de&q=der+letzte%2C+folgende+Abend
  response:
    body:
      string: "<!DOCTYPE html><html dir=\"ltr\" lang=\"en-US\"><head><title>Google
        Translate</title><meta name=\"google\" content=\"notranslate\"><meta name=\"viewport\"
        content=\"width=device-width,initial-scale=1\"><link rel=\"icon\" href=\"//ssl.gstatic.com/translate/favicon.ico\"
        sizes=\"64x64\"><style nonce=\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://de.wiktionary.org/w/api.php?action=parse&page=Abend&prop=wikitext&format=json
  response:
    body:
      string: '{"parse":{"title":"Abend","pageid":5719,"wikitext":{"*":"{{Siehe auch|[[abend]]}}\n{{Wort
        der Woche|14|2006}}\n== Abend ({{Sprache|Deutsch}}) ==\n=== {{Wortart|Substantiv|Deutsch}},
        {{m}} ===\n\n{{Deutsch Substantiv \u00dcbersicht\n|Genus=m\n|Nominativ Singular=Abend\n|Nominativ
        Plural=Abende\n|Genitiv Singular=Abends\n|Genitiv Plural=Abende\n|Dativ Singular=Abend\n|Dativ
        Plural=Abenden\n|Akkusativ Singular=Abend\n|Akkusativ Plural=Abende\n|Bild=2006-07-26AbendhimmelRemstal19.jpg|mini|1|der
        Himmel am ''''A[...]
