interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://de.wiktionary.org/w/api.php?action=parse&page=Abend&prop=wikitext&format=json
  response:
    body:
      string: '{"parse":{"title":"Abend","pageid":5719,"wikitext":{"*":"{{Siehe auch|[[abend]]}}\n{{Wort
        der Woche|14|2006}}\n== Abend ({{Sprache|Deutsch}}) ==\n=== {{Wortart|Substantiv|Deutsch}},
        {{m}} ===\n\n{{Deutsch Substantiv \u00dcbersicht\n|Genus=m\n|Nominativ Singular=Abend\n|Nominativ
        Plural=Abende\n|Genitiv Singular=Abends\n|Genitiv Plural=Abende\n|Dativ Singular=Abend\n|Dativ
        Plural=Abenden\n|Akkusativ Singular=Abend\n|Akkusativ Plural=Abende\n|Bild=2006-07-26AbendhimmelRemstal19.jpg|mini|1|der
        Himmel am ''''A[...]
