interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://de.wiktionary.org/w/api.php?action=parse&page=Abend&prop=wikitext&format=json
  response:
    body:
      string: '{"parse":{"title":"Abend","pageid":5719,"wikitext":{"*":"{{Siehe auch|[[abend]]}}\n{{Wort
        der Woche|14|2006}}\n== Abend ({{Sprache|Deutsch}}) ==\n=== {{Wortart|Substantiv|Deutsch}},
        {{m}} ===\n\n{{Deutsch Substantiv \u00dcbersicht\n|Genus=m\n|Nominativ Singular=Abend\n|Nominativ
        Plural=Abende\n|Genitiv Singular=Abends\n|Genitiv Plural=Abende\n|Dativ Singular=Abend\n|Dativ
        Plural=Abenden\n|Akkusativ Singular=Abend\n|Akkusativ Plural=Abende\n|Bild=2006-07-26AbendhimmelRemstal19.jpg|mini|1|der
        Himmel am ''''A[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://translate.google.com/m?tl=es&sl=de&q=%5B1%5D+die+Tageszeit+nach+dem+Nachmittag%2C+die+beginnt%2C+wenn+die+Sonne+den+Horizont+erreicht%2C+und+bei+v%C3%B6lliger+Dunkelheit+endet%3B+dem+Abend+geht+der+Tag+voran+und+auf+den+Abend+folgt+die+Nacht%0A%7C%5B2%5D++die+Himmelsrichtung+Westen%0A%7C%5B3%5D++verschliffene+Begr%C3%BC%C3%9Fungsfloskel+%E2%80%9Eguten+Abend%E2%80%9C%0A%7C%5B4%5D++Abschluss%2C+Ende%2C+Schluss+%28f%C3%BCr+Leben%2C+Epochen%2C+langandauernde+Herrschaften+und+%C3%84hnlichem%29%0A%7C%5B5%5D++Abendveranstaltung%3B+Abend+mit+heiterem%2C+vielgestaltigem+Programm%3B+Abendempfang
  response:
    body:
      string: "<!DOCTYPE html><html dir=\"ltr\" lang=\"en-US\"><head><title>Google
        Translate</title><meta name=\"google\" content=\"notranslate\"><meta name=\"viewport\"
        content=\"width=device-width,initial-scale=1\"><link rel=\"icon\" href=\"//ssl.gstatic.com/translate/favicon.ico\"
        sizes=\"64x64\"><style nonce=\"pMV1da6f006WN_f9HgtCIw\">\n    body {\n      font-family:
        'Arial', sans-serif;\n      margin: 0;\n    }\n    a:link,\n    a:visited,\n
        \   a:active {\n      color: #1a73e8; /* blue 600 */\n      text-decoration:
        none;\n    }\n    .header {\n      background-color: #fff;\n      border-bottom:
        1px solid #dadce0; /* grey 300 */\n      box-sizing: border-box;\n      color:
        #5f6368; /* grey 700 */\n      font-size: 18px;\n      line-height: 21px;\n
    [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://translate.google.com/m?tl=es&sl=de&q=%5B1%5D+%E2%80%9EEines+Abends%2C+als+sie+so+vertraulich+beisammensa%C3%9Fen%2C+klopfte+jemand+an+die+T%C3%BCre%2C+als+wollte+er+eingelassen+sein.%E2%80%9C
  response:
    body:
      string: "<!DOCTYPE html><html dir=\"ltr\" lang=\"en-US\"><head><title>Google
        Translate</title><meta name=\"google\" content=\"notranslate\"><meta name=\"viewport\"
        content=\"width=device-width[...]
- request:
    body: f.req=%5B%5B%5B%22jQ1olc%22%2C%22%5B%5C%22Abend%5C%22%2C%5C%22de%5C%22%2Cnull%2C%5C%22null%5C%22%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=utf-8
    method: POST
    uri: https://translate.google.com/_/TranslateWebserverUi/data/batchexecute
  response:
    body:
      string: ')]}''


        [["wrb.fr","jQ1olc","[\"//NExAAAAANIAUAAAP8tokQPgrd/2SNvTRX/mJZvfEuY4kJ43PPYMHjgz/MaOELN+30uyr/bP5V3oeZ//n9XIBwGH/zkgfmiRY8FSP/5/gRSQaCJpSr+Gn9EI/VagOiJ//NExFMSCco4AZk4APxLnAVnIIWjccsh4bw3D1C04y4PEQBEuE8/FlkTTThqgcRNkmW/0006blqcJwmDn9Pfldz9Tt/7Jv9TJH7FVf5lWcJI+L7xzSNZfuahp+krJbD0//NExF0SCdK8AY[...]
- request:
    body: '{"action": "addNote", "params": {"note": {"deckName": "Mein Deutsch", "modelName":
      "Basic_", "fields": {"full_word": "Abend", "plural": "Nominativ Plural: Abende|Genitiv
      Plural: Abende|Dativ Plural: Abenden|Akkusativ Plural: Abende", "characteristics":
      "Genus: m|Nominativ Singular: Abend|Nominativ Plural: Abende|Genitiv Singular:
      Abends|Genitiv Plural: Abende|Dativ Singular: Abend|Dativ Plural: Abenden|Akkusativ
      Singular: Abend|Akkusativ Plural: Abende", "ipa": "\u02c8a\u02d0bn\u0329t,\u02c8a\u02d0bm\u0329t",
      "meaning": "[1] die Tageszeit nach dem Nachmittag, die beginnt, wenn die Sonne
      den Horizont erreicht, und bei v\u00f6lliger Dunkelheit endet; dem Abend geht
      der Tag voran und auf den Abend folgt die Nacht\n|[2]  die Himmelsrichtung Westen\n|[3]  verschliffene
      Begr\u00fc\u00dfungsfloskel \u201eguten Abend\u201c\n|[4]  Abschluss, Ende,
      Schluss (f\u00fcr Leben, Epochen, langandauernde Herrschaften und \u00c4hnlichem)\n|[5]  Abendveranstaltung;
      Abend mit heiterem, vielgestaltigem Programm; Abendempfang\n", "meaning_spanish":
      "[1] la hora del d\u00eda despu\u00e9s de la tarde, que comienza cuando el sol
      llega al horizonte y termina cuando oscurece completamente; La tarde es precedida
      por el d\u00eda y la tarde es seguida por la noche.\n|[2] la direcci\u00f3n
      oeste\n|[3] frase de saludo arrastrada \u201cbuenas noches\u201d\n|[4] Conclusi\u00f3n,
      fin, conclusi\u00f3n (para vidas, \u00e9pocas, reinados duraderos y similares)\n|[5]
      Evento nocturno; Velada con un programa alegre y variado; Recepci\u00f3n nocturna",
      "example1": "[1] \u201eEines Abends, als sie so vertraulich beisammensa\u00dfen,
      klopfte jemand an die T\u00fcre, als wollte er eingelassen sein.\u201c", "example1e":
      "[1] \u201cUna noche, mientras estaban sentados juntos en confianza, alguien
      llam\u00f3 a la puerta como si quisiera que le dejaran entrar\u201d.", "example2":
      "\n", "example2e": ""}, "tags": ["test"], "audio": [{"url": "Abend.mp3", "filename":
      "Abend.mp3", "skipHash": "true", "fields": ["audio"]}], "video": [], "picture":
      []}}, "version": 6}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://127.0.0.1:8765/
  response:
    body:
      string: '{"result": 1710797549857, "error": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
