interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://de.wiktionary.org/w/api.php?action=parse&page=Abend&prop=wikitext&format=json
  response:
    body:
      string: '{"parse":{"title":"Abend","pageid":5719,"wikitext":{"*":"{{Siehe auch|[[abend]]}}\n{{Wort
        der Woche|14|2006}}\n== Abend ({{Sprache|Deutsch}}) ==\n=== {{Wortart|Substantiv|Deutsch}},
        {{m}} ===\n\n{{Deutsch Substantiv \u00dcbersicht\n|Genus=m\n|Nominativ Singular=Abend\n|Nominativ
        Plural=Abende\n|Genitiv Singular=Abends\n|Genitiv Plural=Abende\n|Dativ Singular=Abend\n|Dativ
        Plural=Abenden\n|Akkusativ Singular=Abend\n|Akkusativ Plural=Abende\n|Bild=2006-07-26AbendhimmelRemstal19.jpg|mini|1|der
        Himmel am ''''A[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://translate.google.com/m?tl=es&sl=de&q=%5B1%5D+die+Tageszeit+nach+dem+Nachmittag%2C+die+beginnt%2C+wenn+die+Sonne+den+Horizont+erreicht%2C+und+bei+v%C3%B6lliger+Dunkelheit+endet%3B+dem+Abend+geht+der+Tag+voran+und+auf+den+Abend+folgt+die+Nacht%0A++++%5B2%5D++die+Himmelsrichtung+Westen%0A++++%5B3%5D++verschliffene+Begr%C3%BC%C3%9Fungsfloskel+%E2%80%9Eguten+Abend%E2%80%9C%0A++++%5B4%5D++Abschluss%2C+Ende%2C+Schluss+%28f%C3%BCr+Leben%2C+Epochen%2C+langandauernde+Herrschaften+und+%C3%84hnlichem%29%0A++++%5B5%5D++Abendveranstaltung%3B+Abend+mit+heiterem%2C+vielgestaltigem+Programm%3B+Abendempfang
  response:
    body:
      string: "<!DOCTYPE html><html dir=\"ltr\" lang=\"en-US\"><head><title>Google
        Translate</title><meta name=\"google\" content=\"notranslate\"><meta name=\"viewport\"
        content=\"width=device-width,initial-scale=1\"><link rel=\"icon\" href=\"//ssl.gstatic.com/translate/favicon.ico\"
        sizes=\"64x64\"><style nonce=\"7Dh62H-6vwV7Abz_t9sjKg\">\n    body {\n      font-family:
        'Arial', sans-serif;\n      margin: 0;\n    }\n    a:link,\n    a:visited,\n
        \   a:active {\n      color: #1a73e8; /* blue 600 */\n      text-decoration:
        none;\n    }\n    .header {\n      background-color: #fff;\n      border-bottom:
        1px solid #dadce0; /* grey 300 */\n      box-sizing: border-box;\n      color:
        #5f6368; /* grey 700 */\n      font-size: 18px;\n      line-height: 21px;\n
    [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://translate.google.com/m?tl=es&sl=de&q=%5B1%5D+%E2%80%9EEines+Abends%2C+als+sie+so+vertraulich+beisammensa%C3%9Fen%2C+klopfte+jemand+an+die+T%C3%BCre%2C+als+wollte+er+eingelassen+sein.%E2%80%9C
  response:
    body:
      string: "<!DOCTYPE html><html dir=\"ltr\" lang=\"en-US\"><head><title>Google
        Translate</title><meta name=\"google\" content=\"notranslate\"><meta name=\"viewport\"
        content=\"width=device-width[...]
- request:
    body: f.req=%5B%5B%5B%22jQ1olc%22%2C%22%5B%5C%22Abend%5C%22%2C%5C%22de%5C%22%2Cnull%2C%5C%22null%5C%22%5D%22%2Cnull%2C%22generic%22%5D%5D%5D&
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=utf-8
    method: POST
    uri: https://translate.google.com/_/TranslateWebserverUi/data/batchexecute
  response:
    body:
      string: ')]}''


        [["wrb.fr","jQ1olc","[\"//OExAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA//OExAAAAANIAU[...]
