interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.duden.de/rechtschreibung/selbstverteidigung
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"de\" dir=\"ltr\" prefix=\"og: https://ogp.me/ns#\">\n
        \ <head>\n    <meta charset=\"utf-8\" />\n<style>.async-hide { opacity: 0
        !important }</style>\n<script>(function(a,s,y,n,c,h,i,d,e){\n      s.className+='
        '+y;\n      h.start=1*new Date;\n      h.end=i=function(){\n          s.className=s.className.replace(RegExp('
        ?'+y),'')\n      };\n      (a[n]=a[n]||[]).hide=h;\n      setTimeout(function(){\n
        \         i();\n          h.end=null\n      },c);\n      h.timeout=c;\n  })(window,document.documentElement,'async-hide','dataLayer',1000,{
        'GTM-M8R4BXM':true });</script>\n<link rel=\"preconnect\" href=\"//sp.duden.de\"
        crossorigin=\"\" />\n<link rel=\"preconnect\" href=\"//cdn-a.yieldlove.com\"
        crossorigin=\"\" />\n<link rel=\"preconnect\" href=\"//googletagmanager.com\"
        crossorigin=\"\" />\n<link rel=\"preload\" href=\"//securepubads.g.doubleclick.net/tag/js/gpt.js\"
        as=\"script\" />\n<script type=\"text/javascript\">window.yieldlove_prevent_autostart
        = true; var biurl = window.location.href; if(biurl.indexOf('suchen/dudenonline[...]
