interactions:
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://de.wiktionary.org/w/api.php?action=parse&page=Abend&prop=wikitext&format=json
  response:
    body:
      string: '{"parse":{"title":"Abend","pageid":5719,"wikitext":{"*":"{{Siehe auch|[[abend]]}}\n{{Wort
        der Woche|14|2006}}\n== Abend ({{Sprache|Deutsch}}) ==\n=== {{Wortart|Substantiv|Deutsch}},
        {{m}} ===\n\n{{Deutsch Substantiv \u00dcbersicht\n|Genus=m\n|Nominativ Singular=Abend\n|Nominativ
        Plural=Abende\n|Genitiv Singular=Abends\n|Genitiv Plural=Abende\n|Dativ Singular=Abend\n|Dativ
        Plural=Abenden\n|Akkusativ Singular=Abend\n|Akkusativ Plural=Abende\n|Bild=2006-07-26AbendhimmelRemstal19.jpg|mini|1|der
        Himmel am ''''A[...]
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://translate.google.com/m?tl=es&sl=de&q=Abend%1A%1B1%1D+die+Tageszeit+nach+dem+Nachmittag%1C+die+beginnt%1C+wenn+die+Sonne+den+Horizont+erreicht%1C+und+bei+v%C1%B1lliger+Dunkelheit+endet%1B+dem+Abend+geht+der+Tag+voran+und+auf+den+Abend+folgt+die+Nacht%1A++++%1B1%1D++die+Himmelsrichtung+Westen%1A++++%1B1%1D++verschliffene+Begr%C1%BC%C1%1Fungsfloskel+%E1%11%1Eguten+Abend%E1%11%1C%1A++++%1B1%1D++Abschluss%1C+Ende%1C+Schluss+%11f%C1%BCr+Leben%1C+Epochen%1C+langandauernde+Herrschaften+und+%C1%11hnlichem%11%1A++++%1B1%1D++Abendveranstaltung%1B+Abend+mit+heiterem%1C+vielgestaltigem+Programm%1B+Abendempfang
  response:
    body:
      string: "<!DOCTYPE html><html dir=\"ltr\" lang=\"en-US\"><head><title>Google
        Translate</title><meta name=\"google\" content=\"notranslate\"><meta name=\"viewport\"
        content=\"width=device-width,initial-scale=1\"><link rel=\"icon\" href=\"//ssl.gstatic.com/translate/favicon.ico\"
        sizes=\"64x64\"><style nonce=\"h59u7g4F4IgYOLAJIjK7nA\">\n    body {\n      font-family:
        'Arial', sans-serif;\n      margin: 0;\n    }\n    a:link,\n    a:visited,\n
        \   a:active {\n      color: #1a73e8; /* blue 600 */\n      text-decoration:
        none;\n    }\n    .header {\n      background-color: #fff;\n      border-bottom:
        1px solid #dadce0; /* grey 300 */\n      box-sizing: border-box;\n      color:
        #5f6368; /* grey 700 */\n      font-size: 18px;\n      line-height: 21px;\n
    [...]
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://translate.google.com/m?tl=es&sl=de&q=%1B1%1D+%E1%11%1EEines+Abends%1C+als+sie+so+vertraulich+beisammensa%C1%1Fen%1C+klopfte+jemand+an+die+T%C1%BCre%1C+als+wollte+er+eingelassen+sein.%E1%11%1C
  response:
    body:
      string: "<!DOCTYPE html><html dir=\"ltr\" lang=\"en-US\"><head><title>Google
        Translate</title><meta name=\"google\" content=\"notranslate\"><meta name=\"viewport\"
        content=\"width=device-width[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=utf-8
    method: POST
    uri: https://translate.google.com/_/TranslateWebserverUi/data/batchexecute
  response:
    body:
      string: ')]}''


        [["wrb.fr","jQ1olc","[\"//OExAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA//OExAAli+4EAH[...]
