<div style='font-family: Arial; color:#FF80DD;'>{{full_d}}</div>
<hr>

<div style='font-family: Arial; color:#00aaaa; text-align:center;'>
Meaning: {{base_e }}</div>
<div style='font-family: Arial; color:#9CFFFA; text-align:left;'>
<hr>

<div style='font-family: Arial; color:#00aaaa; text-align:center;'>
{{plural_d}}{{base_a}}
</div>

<div style="display:none">[sound:_1-minute-of-silence.mp3]</div>

<div style='font-family: Arial; color:#00aaaa; text-align:center;'>
<hr id=answer>

<div style='font-family: Arial; font-size: 16px;'>{{s1}}{{s1a}}{{hint:s1e}}</div><br>
<div style='font-family: Arial; font-size: 16px;'>{{s2}}{{s2a}}{{hint:s2e}}</div><br>
<div style='font-family: Arial; font-size: 16px;'>{{s3}}{{s3a}}{{hint:s3e}}</div><br>
<div style='font-family: Arial; font-size: 16px;'>{{s4}}{{s4a}}{{hint:s4e}}</div>
<div style='font-family: Arial; font-size: 16px;'>{{s5}}{{s5a}}{{hint:s5e}}</div>
<div style='font-family: Arial; font-size: 16px;'>{{s6}}{{s6a}}{{hint:s6e}}</div>
<div style='font-family: Arial; font-size: 16px;'>{{s7}}{{s7a}}{{hint:s7e}}</div>
<div style='font-family: Arial; font-size: 16px;'>{{s8}}{{s8a}}{{hint:s8e}}</div>
<div style='font-family: Arial; font-size: 16px;'>{{s9}}{{s9a}}{{hint:s9e}}</div>
</div>

