interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.duden.de/rechtschreibung/Verstehen
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"de\" dir=\"ltr\" prefix=\"og: https://ogp.me/ns#\">\n
        \ <head>\n    <meta charset=\"utf-8\" />\n<style>.async-hide { opacity: 0
        !important }</style>\n<script>(function(a,s,y,n,c,h,i,d,e){\n      s.className+='
        '+y;\n      h.start=1*new Date;\n      h.end=i=function(){\n          s.className=s.className.replace(RegExp('
        ?'+y),'')\n      };\n      (a[n]=a[n]||[]).hide=h;\n      setTimeout(function(){\n
        \         i();\n          h.end=null\n      },c);\n      h.timeout=c;\n  })(window,document.documentElement,'async-hide','dataLayer',1000,{
        'GTM-M8R4BXM':true });</script>\n<link rel=\"preconnect\" href=\"//sp.duden.de\"
        crossorigin=\"\" />\n<link rel=\"preconnect\" href=\"//cdn-a.yieldlove.com\"
        crossorigin=\"\" />\n<link rel=\"preconnect\" href=\"//googletagmanager.com\"
        crossorigin=\"\" />\n<link rel=\"preload\" href=\"//securepubads.g.doubleclick.net/tag/js/gpt.js\"
        as=\"script\" />\n<script type=\"text/javascript\">window.yieldlove_prevent_autostart
        = true; var biurl = window.location.href; if(biurl.indexOf('suchen/dudenonline[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://translate.google.com/m?tl=es&sl=de&q=Verstehen
  response:
    body:
      string: "<!DOCTYPE html><html dir=\"ltr\" lang=\"en-US\"><head><title>Google
        Translate</title><meta name=\"google\" content=\"notranslate\"><meta name=\"viewport\"
        content=\"width=device-width,initial-scale=1\"><link rel=\"icon\" href=\"//ssl.gstatic.com/translate/favicon.ico\"
        sizes=\"64x64\"><style nonce=\"1jOHmKpuCUaG-zGp__PkzA\">\n    body {\n      font-family:
        'Arial', sans-serif;\n      margin: 0;\n    }\n    a:link,\n    a:visited,\n
        \   a:active {\n      color: #1a73e8; /* blue 600 */\n      text-decoration:
        [...]
