interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://de.wiktionary.org/w/api.php?action=parse&page=Bammel&prop=wikitext&format=json
  response:
    body:
      string: '{"parse":{"title":"Bammel","pageid":125720,"wikitext":{"*":"{{Siehe
        auch|[[bammel]]}}\n== Bammel ({{Sprache|Deutsch}}) ==\n=== {{Wortart|Substantiv|Deutsch}},
        {{m}} ===\n\n{{Deutsch Substantiv \u00dcbersicht\n|Genus=m\n|Nominativ Singular=Bammel\n|Nominativ
        Plural=\u2014\n|Genitiv Singular=Bammels\n|Genitiv Plural=\u2014\n|Dativ Singular=Bammel\n|Dativ
        Plural=\u2014\n|Akkusativ Singular=Bammel\n|Akkusativ Plural=\u2014\n}}\n\n{{Worttrennung}}\n:Bam\u00b7mel,
        {{kPl.}}\n\n{{Aussprache}}\n:{{IPA}} {{Lautschrift|\u02c8baml\u0329}}\n:{{H\u00f6rbeispiele}}
        {{Audio|De-Bammel.ogg}}\n:{{Reime}} {{Reim|aml\u0329|Deutsch}}\n\n{{Bedeutungen}}\n:[1]
        {{K|ugs.}} Angst, Furcht\n\n{{Herkunft}}\n:seit dem 19. Jahrhundert bezeugt;
        es ist wohl als \u201eHerzklopfen\u201c zu deuten und somit als [[Deverbativ]]
        zu ''''[[bammeln]]'''' \u201e(von etwas Aufgeh\u00e4ngtem) hin- und herschwanken\u201c
        zu rechnen; das [[Verb]] selbst tritt in mehreren Lautvarianten auf (siehe
        ''''[[baumeln]],'''' ''''[[pampeln]]'''' und so weiter); man vermutet, dass
        es daher [[lautmalerisch]]en Ursprungs sei; im 17. Jahrhundert ist ''''bammeln''''
        im Sinne von \u201eGlockenton\u201c bezeugt<ref>vergleiche {{Lit-Kluge: Etymologisches
        W\u00f6rterbuch|A=24}}, Seite 87</ref>\n<!--:\u00dcber das jiddische Wort
        f\u00fcr ''''furchtsamer Mensch'''' von dem Hebr\u00e4ischen Kompositum [[\u05d1\u05b7\u05bc\u05e2\u05b7\u05dc]]
        \u200eaus baal (Herr) und ema (Angst). \u2026ACHTUNG: bitte erg\u00e4nze Belegstellen
        f\u00fcr diese Aussage! Kluge selbst weist auf Wolf hin, ohne jedoch im Einzelnen
        darauf einzugehen -->\n\n{{Synonyme}}\n:[1] [[Angst]], [[Bange]], [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://translate.google.com/m?tl=es&sl=de&q=Bammel%0A%5B1%5D++Angst%2C+Furcht
  response:
    body:
      string: "<!DOCTYPE html><html dir=\"ltr\" lang=\"en-US\"><head><title>Google
        Translate</title><meta name=\"google\" content=\"notranslate\"><meta name=\"viewport\"
        content=\"width=device-width,initial-scale=1\"><link rel=\"icon\" href=\"//ssl.gstatic.com/translate/favicon.ico\"
        sizes=\"64x64\"><style nonce=\"NMV7-3WWPXdyDM-SBaRDyw\">\n    body {\n      font-family:
        'Arial', sans-serif;\n      margin: 0;\n    }\n    a:link,\n    a:visited,\n
        \   a:active {\n      color: #1a73e8; /* blue 600 */\n      text-decoration:
        none;\n    }\n    .header {\n      background-color: #fff;\n      border-bottom:
        1px solid #dadce0; /* grey 300 */\n      box-sizing: border-box;\n      color:
        #5f6368; /* grey 700 */\n      font-size: 18px;\n      line-height: 21px;\n
    [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://translate.google.com/m?tl=es&sl=de&q=%5B1%5D+Vor+der+n%C3%A4chsten+Pr%C3%BCfung+habe+ich+einen+richtigen+Bammel.
  response:
    body:
      string: "<!DOCTYPE html><html dir=\"ltr\" lang=\"en-US\"><head><title>Google
        Translate</title><meta name=\"google\" content=\"notranslate\"><meta name=\"viewport\"
        content=\"width=device-width,initial-scale=1\"><link rel=\"icon\" href=\"//ssl.gstatic.com/translate/favico[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://translate.google.com/m?tl=es&sl=de&q=%5B1%5D+Ich+habe+ein+bisschen+Bammel+davor%2C+diese+Rede+zu+halten.
  response:
    body:
      string: "<!DOCTYPE html><html dir=\"ltr\" lang=\"en-US\"><head><title>Google
        Translate</title><meta name=\"google\" content=\"notranslate\"><meta name=\"viewport\"
        content=\"width=device-width,initial-scale=1\"><link rel=\"icon\" href=\"//ssl.gstatic.com/translate/favicon.ico\"
[...]
