interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://translate.google.com/m?tl=es&sl=de&q=nicht+%5Bmehr%5D+fest+sitzend%2C+mit+etwas+verbunden%0Anicht+dicht+%5Bsodass+Zwischenr%C3%A4ume+bleiben%5D%3B+durchl%C3%A4ssig%3B+nicht+fest+gef%C3%BCgt%0Anicht+straff+%5Bgespannt%5D%2C+nicht+starr%3B+nicht+fest%0Asich+nicht+an+moralische%2C+gesellschaftliche+Vorschriften+gebunden+f%C3%BChlend+und+leichtfertig+in+seiner+Art+zu+leben%2C+sich+zu+benehmen+oder+von+einer+entsprechenden+Haltung+zeugend%0Agelockert%0Alose%0Anicht+fest+%5Bsitzend%5D%0Awackelig
  response:
    body:
      string: "<!DOCTYPE html><html dir=\"ltr\" lang=\"en-US\"><head><title>Google
        Translate</title><meta name=\"google\" content=\"notranslate\"><meta name=\"viewport\"
        content=\"width=device-width,initial-scale=1\"><link rel=\"icon\" href=\"//ssl.gstatic.com/translate/favicon.ico\"
        sizes=\"64x64\"><style nonce=\"3eHmthnnVC44yZOs_qOZCw\">\n    body {\n      font-family:
        'Arial', sans-serif;\n      margin: 0;\n    }\n    a:link,\n    a:visited,\n
        \   a:active {\n      color: #1a73e8; /* blue 600 */\n      text-decoration:
        none;\n    }\n    .header {\n      background-color: #fff;\n      border-bottom:
        1px solid #dadce0; /* grey 300 */\n      box-sizing: border-box;\n      color:
        #5f6368; /* grey 700 */\n      font-size: 18px;\n      line-height: 21px;\n
    [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://translate.google.com/m?tl=es&sl=de&q=ein+lockerer%2C+locker+sitzender+Zahn
  response:
    body:
      string: "<!DOCTYPE html><html dir=\"ltr\" lang=\"en-US\"><head><title>Google
        Translate</title><meta name=\"google\" content=\"notranslate\"><meta name=\"viewport\"
        content=\"width=device-width,initial-scale=1\"><link rel=\"icon\" href=\"//ssl.gstatic.com/translate/favicon.ico\"
        sizes=\"64x64\"><style[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://translate.google.com/m?tl=es&sl=de&q=die+Schraube+locker+machen
  response:
    body:
      string: "<!DOCTYPE html><html dir=\"ltr\" lang=\"en-US\"><head><title>Google
        Translate</title><meta name=\"google\" content=\"notranslate\"><meta name=\"viewport\"
        content=\"width=device-width,initial-scale=1\"><link rel=\"icon\" href=\"//ssl.gstatic.com/translate/favicon.ico\"
        sizes=\"64x64\"><style nonce=\"xv[...]
