interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://de.wiktionary.org/w/api.php?action=parse&page=verstehen&prop=wikitext&format=json
  response:
    body:
      string: '{"parse":{"title":"verstehen","pageid":3635,"wikitext":{"*":"== verstehen
        ({{Sprache|Deutsch}}) ==\n=== {{Wortart|Verb|Deutsch}} ===\n\n{{Deutsch Verb
        \u00dcbersicht\n|Pr\u00e4sens_ich=verstehe\n|Pr\u00e4sens_du=verstehst\n|Pr\u00e4sens_er,
        sie, es=versteht\n|Pr\u00e4teritum_ich=verstand\n|Partizip II=verstanden\n|Konjunktiv
        II_ich=verst\u00e4nde\n|Konjunktiv II_ich*=verst\u00fcnde\n|Imperativ Singular=verstehe\n|Imperativ
        Plural=versteht\n|Hilfsverb=haben\n}}\n\n{{Anmerkung}}\n:In den Bedeutungen
        [2a,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://translate.google.com/m?tl=es&sl=de&q=%5B1%5D++%28Gesprochenes%29+deutlich+akustisch+wahrnehmen%0A++++%5B2%5D+Anwendung+einer+intellektuellen+F%C3%A4higkeit%3A%0A++++%5B2a%5D++den+Sinngehalt%2C+die+Bedeutung+von+etwas%2C+die+Absicht+einer+Person+verstandesm%C3%A4%C3%9Fig+erfassen%0A++++%5B2b%5D++in+bestimmter+Weise+deutend+interpretieren%0A++++%5B2c%5D++eine+bestimmte+Vorstellung+beziehungsweise+einen+bestimmten+Eindruck+von+[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://translate.google.com/m?tl=es&sl=de&q=%5B1%5D+Es+war+so+laut%2C+man+konnte+sein+eigenes+Wort+kaum+verstehen.
  response:
    body:
      string: "<!DOCTYPE html><html dir=\"ltr\" lang=\"en-US\"><head><title>Google
        Translate</title><meta name=\"google\" content=\"notranslate\"><meta name=\"viewport\"
        content=\"width=device-width,initial-scale=1\"><link rel=\"icon\" href=\"//ssl.gstatic.com/translate/favicon.ico\"
        sizes=\"64x64\"><style nonce=\"veM-t5yHKFLwwRbxHtKMNw\">\n    body {\n      font-family:
        'Arial', sans-serif;\n      margin: 0;\n    }\n    a:link,\n    a:visited,\n
        \   a:active {\n      color: #1a73e8; /* blue 600 */\n      text-decoration:
        none;\n    }\n    .header {\n      background-color: #fff;\n      border-bottom:
        1px solid #dadce0; /* grey 300 */\n      box-sizing: border-box;\n      color:
        #5f6368; /* grey 700 */\n      font-size: 18px;\n      line-height: 21px;\n
    [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://translate.google.com/m?tl=es&sl=de&q=%5B1%5D+Streck+mir+doch+nicht+den+R%C3%BCcken+zu%2C+wenn+du+mit+mir+redest%2C+sonst+verstehe+ich+dich+nicht.
  response:
    body:
      string: "<!DOCTYPE html><html dir=\"ltr\" lang=\"en-US\"><head><title>Google
        Translate</title><meta name=\"google\" content=\"notranslate\"><meta name=\"viewport\"
        content=\"width=device-width,initial-scale=1\"><link rel=\"icon\" href=\"/[...]
