interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://de.wiktionary.org/w/api.php?action=parse&page=Verstehen&prop=wikitext&format=json
  response:
    body:
      string: '{"error":{"code":"missingtitle","info":"The page you specified doesn''t
        exist.","*":"See https://de.wiktionary.org/w/api.php for API usage. Subscribe
        to the mediawiki-api-announce mailing list at &lt;https://lists.wikimedia.org/postorius/lists/mediawiki-api-announce.lists.wikimedia.org/&gt;
        for notice of API deprecations and breaking changes."},"servedby":"mw-api-ext.eqiad.main-79cbd6dc7f-mww55"}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      mediawiki-api-error:
      - missingtitle
      x-client-ip:
      - 80.142.138.242
    status:
      code: 200
      message: OK
version: 1
