interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://de.wiktionary.org/w/api.php?action=parse&page=locker&prop=wikitext&format=json
  response:
    body:
      string: '{"parse":{"title":"locker","pageid":29549,"wikitext":{"*":"== locker
        ({{Sprache|Deutsch}}) ==\n=== {{Wortart|Adjektiv|Deutsch}} ===\n\n{{Deutsch
        Adjektiv \u00dcbersicht\n|Positiv=locker\n|Komparativ=lockerer\n|Superlativ=lockersten\n}}\n\n{{Worttrennung}}\n:lo\u00b7cker,
        {{Komp.}} lo\u00b7cke\u00b7rer, {{Sup.}} am lo\u00b7ckers\u00b7ten\n\n{{Aussprache}}\n:{{IPA}}
        {{Lautschrift|\u02c8l\u0254k\u0250}}\n:{{H\u00f6rbeispiele}} {{Audio|De-locker.ogg}}\n:{{Reime}}
        {{Reim|\u0254k\u0250|Deutsch}}\n\n{{Bedeutungen}}[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://translate.google.com/m?tl=es&sl=de&q=locker%0A%5B1%5D+durchl%C3%A4ssig%2C+nicht+dicht%0A++++%5B2%5D+mangelhaft+befestigt%2C+wackelig%0A++++%5B3%5D+leichtfertig%2C+ohne+sittlichen+Halt%2C+mit+vielen+Freiheiten%0A++++%5B4%5D+nicht+mehr+unter+Spannung%0A++++%5B5%5D+l%C3%A4ssig%2C+unkompliziert
  response:
    body:
      string: "<!DOCTYPE html><html dir=\"ltr\" lang=\"en-US\"><head><title>Google
        Translate</title><meta name=\"google\" content=\"notranslate\"><meta name=\"viewport\"
        content=\"width=device-width,initial-scale=1\"><link rel=\"icon\" href=\"//ssl.gstatic.com/translate/favicon.ico\"
        sizes=\"64x64\"><style nonce=\"W0Gfy-Me6Qs_YHbJtRAqWQ\">\n    body {\n      font-family:
        'Arial', sans-serif;\n      margin: 0;\n    }\n    a:link,\n    a:visited,\n
        \   a:active {\n      color: #1a73e8; /* blue 600 */\n      text-decoration:
        none;\n    }\n    .header {\n      background-color: #fff;\n      border-bottom:
        1px solid #dadce0; /* grey 300 */\n      box-sizing: border-box;\n      color:
        #5f6368; /* grey 700 */\n      font-size: 18px;\n      line-height: 21px;\n
    [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://translate.google.com/m?tl=es&sl=de&q=%5B1%5D+Dieser+Schal+ist+locker+gestrickt.
  response:
    body:
      string: "<!DOCTYPE html><html dir=\"ltr\" lang=\"en-US\"><head><title>Google
        Translate</title><meta name=\"google\" content=\"notranslate\"><meta name=\"viewport\"
        content=\"width=device-width,initial-scale=1\"><link rel=\"icon\" href=\"//ssl.gstatic.com/translate/favicon.ico\"
        sizes=\"64x64\"><[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://translate.google.com/m?tl=es&sl=de&q=%5B2%5D+Der+Griff+an+der+Schultasche+ist+ganz+locker%2C+der+geht+bestimmt+bald+ab.
  response:
    body:
      string: "<!DOCTYPE html><html dir=\"ltr\" lang=\"en-US\"><head><title>Google
        Translate</title><meta name=\"google\" content=\"notranslate\"><meta name=\"viewport\"
        content=\"width=device-width,initial-scale=1\"><link rel=\"icon\" href=\"//ssl.gstatic.com/translate[...]
