name: "Testing"

on:
  pull_request:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Install Nix
      uses: cachix/install-nix-action@v26
      with:
        nix_path: nixpkgs=channel:nixos-unstable

    - name: Build Project
      run: nix build

    - name: Check Project
      run: nix flake check

    - name: Create .env file
      uses: SpicyPizza/create-envfile@v1.0
      with:
        # complete the environment variables
        envkey_ANKI_USER: ${{ secrets.ANKI_USER }}
        envkey_ANKI_PASS: ${{ secrets.ANKI_PASS }}
        file_name: compose.env

    - name: Check compose.env file
      run: |
        cat compose.env

    - name: Build and test the stack
      run: |
        COMPOSE_DOCKER_CLI_BUILD=1 DOCKER_BUILDKIT=1 docker compose -f docker-compose.testing.yml up --build --abort-on-container-exit
