name: "Testing"

on:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Install Nix
      uses: cachix/install-nix-action@v26
      with:
        nix_path: nixpkgs=channel:nixos-unstable

    - name: Build Project
      run: nix build

    - name: Check Project
      run: nix flake check

    - name: Create .env file
      uses: SpicyPizza/create-envfile@v1.0
      with:
        # complete the environment variables
        envkey_ANKI_USER: ${{ secrets.ANKI_USER }}
        envkey_ANKI_PASS: ${{ secrets.ANKI_PASS }}
        envkey_GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        file_name: .env

    - name: Check .env file
      run: |
        cat .env

    - name: Test Project
      run: nix develop --command bash -c "poetry install && poetry run pytest ."
